.btn-search {
  background-color: #fe424d;
  color: white;
  border-radius: 25px;
  padding: 0 1rem;
}

.btn-search:hover {
  background-color: #fe424d;
  color: white;
}

.btn-search i {
  display: inline;
  margin-right: 0.5rem;
}

.search-input {
  border-radius: 25px;
  padding: 0.5rem 3rem;
  font-size: 1rem;
}